extends base

mixin navItem(link,text,icon,active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg 
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            |   #{text}

block content 
    main.main 
        .user-view
            nav.user-view__menu 
                ul.list-unstyled.side-nav 
                    +navItem('#','Settings', 'settings', true)
                    +navItem('#','Form 4', 'briefcase')
                    +navItem('#','Form 4A', 'briefcase')
                -if(user.role==='admin')
                    .admin-nav 
                        h5.admin-nav__heading Admin
                        ul.side-nav 
                            +navItem('#','Manage Forms', 'map')
                            +navItem('#','Manage Users', 'users')
                            +navItem('#','Verified Forms', 'star')
            .user-view__content
                .user-view__form-container
                    h1.text-uppercase.display-4 account settings

                    //-Without API
                    //-form.form.form-user-data(action='/submit-user-data' method='POST')

                    //-With API
                    form.form.form-user-data.mx-5
                        .form-group
                            label.form-label.font-weight-bold.text-uppercase(for='name') Name
                            br
                            input#name.form-input.font-weight-bold(type='text', value=`${user.name}`, required)
                        .form-group
                            label.form-label.font-weight-bold.text-uppercase(for='email') Email address
                            br
                            input#email.form-input.font-weight-bold(type='email', value=`${user.email}`, required)
                        .form-group.ml-5
                            button.btn.btn-success.bg-success-outline.btn--small.btn--green Save settings
                .line &nbsp;
                .user-view__form-container
                    h1.text-uppercase.display-4 Password change
                    form.form.form-user-password.mx-5
                        .form-group
                            label.form-label.font-weight-bold.text-uppercase(for='password-current') Current password
                            br
                            input#password-current.form-input.font-weight-bold(type='password', placeholder='••••••••', required, minlength='8')
                        .form-group
                            label.form-label.font-weight-bold.text-uppercase(for='password') New password
                            br
                            input#password.form-input.font-weight-bold(type='password', placeholder='••••••••', required, minlength='8')
                        .form-group.ma-bt-lg
                            label.form-label.font-weight-bold.text-uppercase(for='password-confirm') Confirm password
                            br
                            input#password-confirm.form-input.font-weight-bold(type='password', placeholder='••••••••', required, minlength='8')
                        .form__group.ml-5
                            button.btn.btn-success.bg-success-outline.btn--small.btn--green Save password
